In [319]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [97]:
student_mat = pd.read_csv('~/Downloads/student/student-mat.csv', delimiter = ';')

In [326]:
print(student_mat)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
5       GP   M   16       U     LE3       T     4     3  services     other
6       GP   M   16       U     LE3       T     2     2     other     other
7       GP   F   17       U     GT3       A     4     4     other   teacher
8       GP   M   15       U     LE3       A     3     2  services     other
9       GP   M   15       U     GT3       T     3     4     other     other
10      GP   F   15       U     GT3       T     4     4   teacher    health
11      GP   F   15       U     GT3       T     2     1  services     other
12      GP   M   15       U     LE3       T     4     4    health  services
13      GP   M   15       U     GT3       T     4     3   teacher     other
14      GP   M   15       U     GT3       A     2     2     other     other
15      GP   F   16       U     GT3       T     4     4    health     other
16      GP   F   16       U     GT3       T     4     4  services  services
17      GP   F   16       U     GT3       T     3     3     other     other
18      GP   M   17       U     GT3       T     3     2  services  services
19      GP   M   16       U     LE3       T     4     3    health     other
20      GP   M   15       U     GT3       T     4     3   teacher     other
21      GP   M   15       U     GT3       T     4     4    health    health
22      GP   M   16       U     LE3       T     4     2   teacher     other
23      GP   M   16       U     LE3       T     2     2     other     other
24      GP   F   15       R     GT3       T     2     4  services    health
25      GP   F   16       U     GT3       T     2     2  services  services
26      GP   M   15       U     GT3       T     2     2     other     other
27      GP   M   15       U     GT3       T     4     2    health  services
28      GP   M   16       U     LE3       A     3     4  services     other
29      GP   M   16       U     GT3       T     4     4   teacher   teacher
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
365     MS   M   18       R     GT3       T     1     3   at_home     other
366     MS   M   18       U     LE3       T     4     4   teacher  services
367     MS   F   17       R     GT3       T     1     1     other  services
368     MS   F   18       U     GT3       T     2     3   at_home  services
369     MS   F   18       R     GT3       T     4     4     other   teacher
370     MS   F   19       U     LE3       T     3     2  services  services
371     MS   M   18       R     LE3       T     1     2   at_home  services
372     MS   F   17       U     GT3       T     2     2     other   at_home
373     MS   F   17       R     GT3       T     1     2     other     other
374     MS   F   18       R     LE3       T     4     4     other     other
375     MS   F   18       R     GT3       T     1     1     other     other
376     MS   F   20       U     GT3       T     4     2    health     other
377     MS   F   18       R     LE3       T     4     4   teacher  services
378     MS   F   18       U     GT3       T     3     3     other     other
379     MS   F   17       R     GT3       T     3     1   at_home     other
380     MS   M   18       U     GT3       T     4     4   teacher   teacher
381     MS   M   18       R     GT3       T     2     1     other     other
382     MS   M   17       U     GT3       T     2     3     other  services
383     MS   M   19       R     GT3       T     1     1     other  services
384     MS   M   18       R     GT3       T     4     2     other     other
385     MS   F   18       R     GT3       T     2     2   at_home     other
386     MS   F   18       R     GT3       T     4     4   teacher   at_home
387     MS   F   19       R     GT3       T     2     3  services     other
388     MS   F   18       U     LE3       T     3     1   teacher  services
389     MS   F   18       U     GT3       T     1     1     other     other
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
5    ...      5        4      2     1     2      5       10  15  15  15
6    ...      4        4      4     1     1      3        0  12  12  11
7    ...      4        1      4     1     1      1        6   6   5   6
8    ...      4        2      2     1     1      1        0  16  18  19
9    ...      5        5      1     1     1      5        0  14  15  15
10   ...      3        3      3     1     2      2        0  10   8   9
11   ...      5        2      2     1     1      4        4  10  12  12
12   ...      4        3      3     1     3      5        2  14  14  14
13   ...      5        4      3     1     2      3        2  10  10  11
14   ...      4        5      2     1     1      3        0  14  16  16
15   ...      4        4      4     1     2      2        4  14  14  14
16   ...      3        2      3     1     2      2        6  13  14  14
17   ...      5        3      2     1     1      4        4   8  10  10
18   ...      5        5      5     2     4      5       16   6   5   5
19   ...      3        1      3     1     3      5        4   8  10  10
20   ...      4        4      1     1     1      1        0  13  14  15
21   ...      5        4      2     1     1      5        0  12  15  15
22   ...      4        5      1     1     3      5        2  15  15  16
23   ...      5        4      4     2     4      5        0  13  13  12
24   ...      4        3      2     1     1      5        2  10   9   8
25   ...      1        2      2     1     3      5       14   6   9   8
26   ...      4        2      2     1     2      5        2  12  12  11
27   ...      2        2      4     2     4      1        4  15  16  15
28   ...      5        3      3     1     1      5        4  11  11  11
29   ...      4        4      5     5     5      5       16  10  12  11
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
365  ...      3        3      4     2     4      3        4  10  10  10
366  ...      4        2      2     2     2      5        0  13  13  13
367  ...      5        2      1     1     2      1        0   7   6   0
368  ...      5        2      3     1     2      4        0  11  10  10
369  ...      3        2      2     4     2      5       10  14  12  11
370  ...      3        2      2     1     1      3        4   7   7   9
371  ...      4        3      3     2     3      3        3  14  12  12
372  ...      3        4      3     1     1      3        8  13  11  11
373  ...      3        5      5     1     3      1       14   6   5   5
374  ...      5        4      4     1     1      1        0  19  18  19
375  ...      4        3      2     1     2      4        2   8   8  10
376  ...      5        4      3     1     1      3        4  15  14  15
377  ...      5        4      3     3     4      2        4   8   9  10
378  ...      4        1      3     1     2      1        0  15  15  15
379  ...      4        5      4     2     3      1       17  10  10  10
380  ...      3        2      4     1     4      2        4  15  14  14
381  ...      4        4      3     1     3      5        5   7   6   7
382  ...      4        4      3     1     1      3        2  11  11  10
383  ...      4        3      2     1     3      5        0   6   5   0
384  ...      5        4      3     4     3      3       14   6   5   5
385  ...      5        3      3     1     3      4        2  10   9  10
386  ...      4        4      3     2     2      5        7   6   5   6
387  ...      5        4      2     1     2      5        0   7   5   0
388  ...      4        3      4     1     1      1        0   7   9   8
389  ...      1        1      1     1     1      5        0   6   5   0
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

In [109]:
print("Shape of student_mat: {}".format(student_mat.shape))

Shape of student_mat: (395, 33)

In [361]:
X = student_mat.drop(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'G3'], axis=1)
# X = X.replace('yes', 1)
# X = X.replace('no', 0)
y = student_mat['G3']
print(X)
print(y)

     age  traveltime  studytime  failures  schoolsup  famsup  paid  \
0     18           2          2         0          1       0     0
1     17           1          2         0          0       1     0
2     15           1          2         3          1       0     1
3     15           1          3         0          0       1     1
4     16           1          2         0          0       1     1
5     16           1          2         0          0       1     1
6     16           1          2         0          0       0     0
7     17           2          2         0          1       1     0
8     15           1          2         0          0       1     1
9     15           1          2         0          0       1     1
10    15           1          2         0          0       1     1
11    15           3          3         0          0       1     0
12    15           1          1         0          0       1     1
13    15           2          2         0          0       1     1
14    15           1          3         0          0       1     0
15    16           1          1         0          0       1     0
16    16           1          3         0          0       1     1
17    16           3          2         0          1       1     0
18    17           1          1         3          0       1     0
19    16           1          1         0          0       0     1
20    15           1          2         0          0       0     0
21    15           1          1         0          0       1     1
22    16           1          2         0          0       0     0
23    16           2          2         0          0       1     0
24    15           1          3         0          1       1     1
25    16           1          1         2          0       1     1
26    15           1          1         0          0       1     1
27    15           1          1         0          0       0     1
28    16           1          2         0          1       1     0
29    16           1          2         0          0       1     1
..   ...         ...        ...       ...        ...     ...   ...
365   18           2          2         0          0       1     1
366   18           2          3         0          0       0     1
367   17           3          1         1          0       1     1
368   18           2          1         0          0       1     1
369   18           3          2         0          0       1     1
370   19           2          2         2          0       0     0
371   18           3          1         0          0       1     1
372   17           1          3         0          0       0     0
373   17           1          1         0          0       0     0
374   18           2          3         0          0       0     0
375   18           4          3         0          0       0     0
376   20           2          3         2          0       1     1
377   18           1          2         0          0       0     1
378   18           1          2         0          0       0     1
379   17           1          2         0          0       1     1
380   18           1          2         0          0       0     1
381   18           2          1         0          0       0     0
382   17           2          2         0          0       0     0
383   19           2          1         1          0       0     0
384   18           2          1         1          0       0     1
385   18           2          3         0          0       0     1
386   18           3          1         0          0       1     1
387   19           1          3         1          0       0     0
388   18           1          2         0          0       1     1
389   18           2          2         1          0       0     0
390   20           1          2         2          0       1     1
391   17           2          1         0          0       0     0
392   21           1          1         3          0       0     0
393   18           3          1         0          0       0     0
394   19           1          1         0          0       0     0

     activities  nursery  higher  ...  romantic  famrel  freetime  goout  \
0             0        1       1  ...         0       4         3      4
1             0        0       1  ...         0       5         3      3
2             0        1       1  ...         0       4         3      2
3             1        1       1  ...         1       3         2      2
4             0        1       1  ...         0       4         3      2
5             1        1       1  ...         0       5         4      2
6             0        1       1  ...         0       4         4      4
7             0        1       1  ...         0       4         1      4
8             0        1       1  ...         0       4         2      2
9             1        1       1  ...         0       5         5      1
10            0        1       1  ...         0       3         3      3
11            1        1       1  ...         0       5         2      2
12            1        1       1  ...         0       4         3      3
13            0        1       1  ...         0       5         4      3
14            0        1       1  ...         1       4         5      2
15            0        1       1  ...         0       4         4      4
16            1        1       1  ...         0       3         2      3
17            1        1       1  ...         0       5         3      2
18            1        1       1  ...         0       5         5      5
19            1        1       1  ...         0       3         1      3
20            0        1       1  ...         0       4         4      1
21            0        1       1  ...         0       5         4      2
22            1        1       1  ...         0       4         5      1
23            1        1       1  ...         0       5         4      4
24            1        1       1  ...         0       4         3      2
25            0        0       1  ...         0       1         2      2
26            0        1       1  ...         0       4         2      2
27            0        1       1  ...         0       2         2      4
28            1        1       1  ...         0       5         3      3
29            1        1       1  ...         1       4         4      5
..          ...      ...     ...  ...       ...     ...       ...    ...
365           0        1       1  ...         0       3         3      4
366           0        1       1  ...         1       4         2      2
367           0        1       1  ...         1       5         2      1
368           0        1       1  ...         1       5         2      3
369           0        0       1  ...         1       3         2      2
370           1        1       1  ...         1       3         2      2
371           1        1       0  ...         1       4         3      3
372           1        1       1  ...         1       3         4      3
373           1        1       1  ...         0       3         5      5
374           0        1       1  ...         0       5         4      4
375           0        1       1  ...         0       4         3      2
376           0        0       1  ...         1       5         4      3
377           1        1       1  ...         0       5         4      3
378           0        1       1  ...         1       4         1      3
379           1        0       1  ...         0       4         5      4
380           1        0       1  ...         0       3         2      4
381           1        0       1  ...         1       4         4      3
382           1        1       1  ...         0       4         4      3
383           0        1       1  ...         0       4         3      2
384           0        1       1  ...         0       5         4      3
385           0        1       1  ...         0       5         3      3
386           1        1       1  ...         1       4         4      3
387           1        0       1  ...         0       5         4      2
388           0        1       1  ...         0       4         3      4
389           1        1       1  ...         0       1         1      1
390           0        1       1  ...         0       5         5      4
391           0        0       1  ...         0       2         4      5
392           0        0       1  ...         0       5         5      3
393           0        0       1  ...         0       4         4      1
394           0        1       1  ...         0       3         2      3

     Dalc  Walc  health  absences  G1  G2
0       1     1       3         6   5   6
1       1     1       3         4   5   5
2       2     3       3        10   7   8
3       1     1       5         2  15  14
4       1     2       5         4   6  10
5       1     2       5        10  15  15
6       1     1       3         0  12  12
7       1     1       1         6   6   5
8       1     1       1         0  16  18
9       1     1       5         0  14  15
10      1     2       2         0  10   8
11      1     1       4         4  10  12
12      1     3       5         2  14  14
13      1     2       3         2  10  10
14      1     1       3         0  14  16
15      1     2       2         4  14  14
16      1     2       2         6  13  14
17      1     1       4         4   8  10
18      2     4       5        16   6   5
19      1     3       5         4   8  10
20      1     1       1         0  13  14
21      1     1       5         0  12  15
22      1     3       5         2  15  15
23      2     4       5         0  13  13
24      1     1       5         2  10   9
25      1     3       5        14   6   9
26      1     2       5         2  12  12
27      2     4       1         4  15  16
28      1     1       5         4  11  11
29      5     5       5        16  10  12
..    ...   ...     ...       ...  ..  ..
365     2     4       3         4  10  10
366     2     2       5         0  13  13
367     1     2       1         0   7   6
368     1     2       4         0  11  10
369     4     2       5        10  14  12
370     1     1       3         4   7   7
371     2     3       3         3  14  12
372     1     1       3         8  13  11
373     1     3       1        14   6   5
374     1     1       1         0  19  18
375     1     2       4         2   8   8
376     1     1       3         4  15  14
377     3     4       2         4   8   9
378     1     2       1         0  15  15
379     2     3       1        17  10  10
380     1     4       2         4  15  14
381     1     3       5         5   7   6
382     1     1       3         2  11  11
383     1     3       5         0   6   5
384     4     3       3        14   6   5
385     1     3       4         2  10   9
386     2     2       5         7   6   5
387     1     2       5         0   7   5
388     1     1       1         0   7   9
389     1     1       5         0   6   5
390     4     5       4        11   9   9
391     3     4       2         3  14  16
392     3     3       3         3  10   8
393     3     4       5         0  11  12
394     3     3       5         5   8   9

[395 rows x 21 columns]
0       6
1       6
2      10
3      15
4      10
5      15
6      11
7       6
8      19
9      15
10      9
11     12
12     14
13     11
14     16
15     14
16     14
17     10
18      5
19     10
20     15
21     15
22     16
23     12
24      8
25      8
26     11
27     15
28     11
29     11
       ..
365    10
366    13
367     0
368    10
369    11
370     9
371    12
372    11
373     5
374    19
375    10
376    15
377    10
378    15
379    10
380    14
381     7
382    10
383     0
384     5
385    10
386     6
387     0
388     8
389     0
390     9
391    16
392     7
393    10
394     9
Name: G3, Length: 395, dtype: int64

In [362]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [363]:
tree = DecisionTreeClassifier(random_state=0)
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [364]:
print("Accuracy on training set: {:.3f}".format(tree.score(X_train, y_train)))
print("Accuracy on test set: {:.3f}".format(tree.score(X_test, y_test)))

Accuracy on training set: 1.000
Accuracy on test set: 0.444

In [366]:
print(student_mat.columns)

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [446]:
for x, t in zip(X, tree.feature_importances_):
    print("{}:{:.2f}% \n".format(x, t*100))

age:4.65%

traveltime:3.16%

studytime:2.52%

failures:2.52%

schoolsup:0.86%

famsup:2.01%

paid:1.57%

activities:0.89%

nursery:3.36%

higher:0.59%

internet:0.48%

romantic:1.90%

famrel:3.32%

freetime:4.22%

goout:6.26%

Dalc:1.94%

Walc:3.57%

health:5.52%

absences:12.33%

G1:8.27%

G2:30.07%